@*@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h1>Index</h1>
@*@using (Html.BeginForm("Index", "CariPanel", FormMethod.Post))
{
<table class="table table-bordered">
    <tr>
        <td><label>Mail Adresi : @HttpContext.Current.User.Identity.Name</label></td>
        <td>@Html.TextBoxFor(x=>x.CariAd, new { @class = "form-control" } )</td>
    </tr>
</table>*@




